STATA_PRESET='mp64'
STATA_SERIAL='12345678'
STATA_FIELD1='999'
STATA_FIELD2='24'
STATA_FIELD3='5'
STATA_FIELD4='9999'
STATA_FIELD5='h'
STATA_FIELD6='01012050'
STATA_FIELD7='64'
STATA_LINE1='LocalLab'
STATA_LINE2='LocalLab'
STATA_GTK_RC=''
